{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="bloc-title">{{ title }}</h1>
    <hr>
    <a href="{{ path('app_login') }}">Authentification</a>
    <br>
    <a id="random-number" href="{{ path('app_random_number') }}">Get an ajax random number</a>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/number.js') }}"></script>
{% endblock %}